@import '@/style';

.selectColor {
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;

  .lPart {
    .tip {
      display: inline-block;
      height: 30px;
      line-height: 30px;
      vertical-align: top;
      color: $font-color-tip;
      margin-right: 10px;
      font-size: 14px;
    }
  }

  .rPart {
    display: flex;
    align-items: center;

    .reset {
      margin-right: 16px;
      color: $font-color-base-active;
      cursor: pointer;
    }

    .box {
      display: inline-block;
      width: 72px;
      height: 32px;
      border-radius: 6px;
      background-color: #dee0e3;
      padding: 5px;
      cursor: pointer;

      .boxContent {
        border-radius: 2px;
        height: 100%;
        width: 100%;
      }
    }
  }
}

.ant-popover-inner-content {
  padding: 0;
}
