@import 'operate-common/css';
.ant-modal-close-x {
  //.anticon{ padding-top: 20px}
}
.ant-modal-body {
  padding-top: 0;
  padding-bottom: 0;
  .ant-table-wrapper {
    min-height: 400px;
  }
}
.search-material-search .search-material-item {
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: repeat(2, 1fr);
}

.formWrap {
  border: solid 1px #f1f1f1;
  margin-bottom: 20px;
  border-radius: 4px;
  padding: 10px;
}

.SelectGoodsGroupItem {
  background-color: #eee;
  padding: 15px 10px;
  margin-bottom: 14px;
  width: 290px;
}

.selectCube {
  .cubeGroup {
    padding: 0;
    list-style: none;

    .cubeItem {
      width: 100%;
      background-color: #eee;
      padding: 15px 10px;
      display: grid;
      grid-template-columns: 1fr 86px;

      .lPart {
        display: grid;
        width: 190px;
        grid-template-rows: repeat(2, 1fr);

        .title {
          margin-bottom: 0;

          p {
            color: #595961;
            font-size: 14px;
            margin-bottom: 0;
            height: 43px;
            line-height: 43px;
            text-indent: 16px;
          }
        }

        .pickLink {
        }
      }

      .rPart {
        display: flex;
        align-items: center;
        .choose-container {
          margin-bottom: 0;
        }
      }
    }
  }
}
