.refundOnlyPage {
  background-color: #f6f6f6;
  padding: 15px 10px;

  .refundTip {
    @include boxStyle;
    color: rgb(220, 45, 45);
    font-size: 12px;
    padding: 10px 15px;
    text-align: center;
  }

  .refundMsg_style {
    margin-top: 15px;
  }

  .refundUploading {
    margin-top: 15px;
  }
}
