.myAgreementList {
  .list {
    .item {
      height: 50px;
      line-height: 50px;
      display: flex;
      justify-content: space-between;
      padding: 0 10px;
      font-size: 14px;
      border-bottom: 1px solid #efefef;
    }
  }
}
