.articleDetail {
  padding: 0 15px;

  .title {
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
  }

  .author {
    font-size: 14px;
    text-align: center;
    margin-bottom: 10px;
  }

  .content {
    font-size: 12px;
  }
}
