.expressInfo {
  .expressInfoTop {
    padding: 22px 16px;
    display: flex;
    border-bottom: 10px solid #fafafa;

    .goodsImg {
      width: 90px;
      height: 90px;
      margin-right: 20px;
      position: relative;
      background: center no-repeat;
      background-size: cover;

      .tip {
        position: absolute;
        bottom: 0;
        left: 0;
        color: #fff;
        height: 30px;
        line-height: 30px;
        width: 100%;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.5);
      }
    }

    .list {
      flex: 1;

      .listItem {
        height: 30px;
        line-height: 30px;
      }
    }
  }

  .expressInfoStep {
    padding: 40px 20px;
    text-align: left;

    .step {
      text-align: left;
      margin-bottom: 20px;

      .time {
        margin-bottom: 5px;
        font-weight: bold;
      }
    }

    .noInfo {
      text-align: center;
    }
  }
}
