.footprint {
  .noDate {
    .img {
      display: block;
      margin: 100px auto 0;
      width: 203px;
      height: 165px;
    }
  }

  .topBar {
    height: 50px;
    line-height: 50px;
    display: flex;
    flex-direction: row-reverse;

    .edit {
      margin-right: 15px;
      padding: 0 20px;
    }
  }

  .handleBar {
    height: 54px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    position: sticky;
    bottom: 0;

    .checkAll {
      margin-left: 20px;
      .wx-checkbox-input {
        width: 14px;
        height: 14px;
        border-radius: 50%;
      }

      .wx-checkbox-input.wx-checkbox-input-checked {
        background-color: #000000;
      }

      .wx-checkbox-input.wx-checkbox-input-checked::before {
        color: #ffffff;
        font-size: 14px;
      }
    }

    .btn {
      margin: 0 20px 0 0;
      height: 40px;
      line-height: 40px;
      border-radius: 20px;
      background-color: #000000;
      color: #ffffff;
      padding: 0 25px;
      font-size: 14px;
    }
  }
}

.footprintItem {
  display: flex;
  align-items: center;
  padding: 20px 20px 10px;
  border-bottom: 1px solid #ccc;

  .lPart {
    padding-left: 0;
    padding-right: 10px;
  }

  .rPart {
    flex: 1;
    display: flex;
    align-items: flex-start;

    .img {
      width: 90px;
      height: 90px;
      margin-right: 20px;
    }

    .info {
      flex: 1;

      .title {
        font-size: 14px;
      }

      .price {
        color: #d66377;
        font-size: 16px;
      }
    }
  }

  .wx-checkbox-input {
    width: 14px;
    height: 14px;
    border-radius: 50%;
  }

  .wx-checkbox-input.wx-checkbox-input-checked {
    background-color: #000000;
  }

  .wx-checkbox-input.wx-checkbox-input-checked::before {
    color: #ffffff;
    font-size: 14px;
  }
}
