.boxPosition {
  position: sticky;
  top: 0;
  padding-top: 0 !important;
  z-index: 99;
}
.search-weight {
  font-weight: 600;
}
.search-italic {
  font-style: italic;
}
.search-decoration {
  text-decoration: underline;
}
