div[type='slot'] {
  div[class='ant-col ant-form-item-control css-dev-only-do-not-override-ed5zg0'] {
    display: inline-table;
  }
}
.pageArgs-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 10px;
  &:nth-last-child(odd) {
    margin-bottom: 10px;
  }
  .ant-table-wrapper {
    min-height: auto !important;
  }
}
